.anonsment{
    font-family: roboto;
    text-transform: uppercase;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 12px;
    padding-top: 1px;
    padding-bottom: 0;
    margin: 0;
}
.anonsment:hover{
    background-color: rgb(48, 48, 48);

}
*{
    margin: 0;
}
.logo.small {
    width: 110px; /* Adjust the desired font size for the small logo */
    transition: width 1s;
  }
.new{
    margin-bottom: 0;
    padding: 0.7rem;
    display: inline-block;
    letter-spacing: 2px;
}
.onam{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
    width: 14px;
    height: 14px;
    padding-bottom: 0;
    
}
.navbar1 ul{
    padding-left: 0;
}


.grid img{
 width: 100%;
 margin-top: 10px;
}


.anonsment:hover .onam{
    width: 17px;
    transition: 0.2s;
}
*,
*::after,
*::before{
    box-sizing: border-box;  /*fff*/
    padding: 0;
    margin: 0;
}

.html{
    font-size: 62.5%;
}

.navbar1 input[type="checkbox"],
.navbar1 .hamburger-lines{
    display: none;
}

.container{
    width: 100%;
    margin: auto;
}
.row{
    max-width: 1250px;
    
}
.lotta{
    width: 250px;
}
.victus{
    position:sticky;
    top: 0px;
    margin-bottom: 2rem;
}
.filter2{
    width: 120px;
}
.filter{
    width: 18px;
    padding-bottom: 0;
    margin-bottom: 0;
    filter: invert(100%) sepia(2%) saturate(7492%) hue-rotate(26deg) brightness(116%) contrast(90%);
    position: absolute;
    right: 8vw;
}
.logo1 img:hover{
    cursor: pointer;
}
.userlogin{
    width: 18px;
    padding-bottom: 0;
    margin-bottom: 0;
    filter: invert(100%) sepia(2%) saturate(7492%) hue-rotate(26deg) brightness(116%) contrast(90%);
    position: absolute;
    right: 16vw;
}
.owner-img{
    display: inline-block;
    max-width: 100%;
}
.owner-dt{
    display: inline-block;
}
.owner{
    margin-bottom: 40px;
}

.navbar1{
    width: 100%;
    background: #010101;
    color: #ffffff;
    opacity: 1;
    box-shadow: 0 -3px 3px -3px #4f4f4f;
    padding: 0.8rem;
}

.navbar1-container{
    display: flex;
    justify-content: left;
    height: 64px;
    align-items: center;
}

.menu-items{
    order: 2;
    display: flex;
}
.logo{
    order: 1;
    font-size: 2.3rem;
    padding-bottom: 10px;
    padding-left: 130px;
}
.butn{
    background-color: black;
    color: white;
    border: none;
    padding: 15px 15px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 17px;
}
.first-note{
    font-size: 25px;
}
.sec-note{
    font-size: 20px;
    opacity: 0.8;
    margin-bottom: 30px;
}

.menu-items li{
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.3rem;
}

.navbar1 a{
    color: #e3e3e3;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    font-size: 15px;
    vertical-align: middle;
}

.navbar1 a:hover{
    text-decoration: underline;
    color: white;
}
.navbar1 a:active{
    text-decoration: underline;
}


@media (max-width: 768px){
    .navbar1{
        opacity: 1;
    }

    .navbar1-container input[type="checkbox"],
    .navbar1-container .hamburger-lines{
        display: block;
    }
    
    .navbar1-container{
        display: block;
        position: relative;
        height: 64px;
    }
    
    .navbar1-container input[type="checkbox"]{
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }
    
    .navbar1-container .hamburger-lines{
        display: block;
        height: 17px;
        width: 20px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .navbar1-container .hamburger-lines .line{
        display: block;
        height: 1px;
        width: 100%;
        border-radius: 10px;
        background: #ffffff;
    }
    
    .navbar1-container .hamburger-lines .line1{
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar1-container .hamburger-lines .line2{
        transition: transform 0.2s ease-in-out;
    }

    .navbar1-container .hamburger-lines .line3{
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar1 .menu-items{
        padding-top: 100px;
        background: #000000;
        height: 190vh;
        width: 100%;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 40px;
        transition: transform 0.5s ease-in-out;
    }

    .navbar1 .menu-items li{
        margin-bottom: 1.8rem;
        font-size: 1.1rem;
        font-weight: 500;
    }

    .logo{
        position: absolute;
        top: 10px;
        right: 40%;
        font-size: 2.5rem;
    }
    .logo1{
        position: absolute;
        top: 25px;
        right: .5vw;
    }

    .navbar1-container input[type="checkbox"]:checked ~ .menu-items{
        transform: translateX(0);
    }

    .navbar1-container input[type="checkbox"]:checked ~ .hamburger-lines .line1{
        transform: rotate(45deg);
    }

    .navbar1-container input[type="checkbox"]:checked ~ .hamburger-lines .line2{
        transform: scaleY(0);
    }

    .navbar1-container input[type="checkbox"]:checked ~ .hamburger-lines .line3{
        transform: rotate(-45deg);
    }

}
@media (max-width: 767px) {
    .owner {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
  

@media (max-width: 500px){
    .navbar1-container input[type="checkbox"]:checked ~ .logo{
        display: none;
    }
}
.nexaa{
    text-decoration: underline;
    list-style-type: none;
    align-items: center;
    text-align: center;
    color: white;
    padding-top: 3vh;
    font-size: 18px;
    opacity: 0.8;

}
.foooter p{
    align-items: center;
    text-align: center;
    color: white;
    font-size: 19px;
    margin-left: 13px;
}
.foooter{
    background-color: black;
    padding-bottom: 10px;
    padding-top: 6vh;
}
.insta1{
    filter: invert(96%) sepia(6%) saturate(125%) hue-rotate(231deg) brightness(117%) contrast(100%);

}

.footer-ls{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 20px;
}
.foooter-dt{
    text-align: center;
    font-size: 12px;
    display: inline-block;
    opacity: 0.8;
    margin-right: 0;
    margin-left: 0;
}

